# Dépendances (lourd)
node_modules/

# Variables d'environnement (SÉCURITÉ)
.env

# Logs et debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Système
.DS_Store
Thumbs.db

# Editeurs
.vscode/
.idea/